html
    head 
        title='Mi primera plantilla en Pug JS'
    body 
        h1=titulo
    div(
        style=`display:flex; margin: 0 auto;`
    )
        p=min
        progress(
            value=value
            max=size
            min=min
        )
        p=max